/*Estilos generales*/
:root{
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-gree: #ACD9B2;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
}

body{
    font-size: var(--sm);
}

/*Estilos del navbar*/
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 2.4rem;
    border-bottom: 0.1rem solid var(--very-light-pink);
}

.inactive{
    display: none;
}

.menu{
    display: none;
}

.logo{
    width: 10rem;
}

.navbar-left ul,
.navbar-right ul{
    list-style: none;
    display: flex;
    align-items: center;
    height: 6rem;
}

.navbar-left{
    display: flex;
}

.navbar-left ul{
    margin-left: 1.2rem;
}

.navbar-left a,
.navbar-right a{
    text-decoration: none;
    color: var(--very-light-pink);
    border: 0.1rem solid var(--white);
    padding: 0.8rem;
    border-radius: 0.8rem;
}

.navbar-left a:hover,
.navbar-right a:hover{
    border: 0.1rem solid var(--hospital-gree);
    color: var(--hospital-gree);
}

.navbar-email:hover{
    border: 0.1rem solid var(--hospital-gree);
    color: var(--hospital-gree);
}

.navbar-email{
    color: var(--very-light-pink);
    border: 0.1rem solid var(--white);
    padding: 0.8rem;
    border-radius: 0.8rem;
    color: var(--very-light-pink);
    margin-right: 1.2rem;
    cursor: pointer;
}

.navbar-shopping-cart{
    position: relative;
    cursor: pointer;
}

.navbar-shopping-cart div{
    width: 1.6rem;
    height: 1.6rem;
    background-color: var(--hospital-gree);
    border-radius: 50%;
    font-weight: bold;
    position: absolute;
    top: -0.6rem;
    right: -0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Estilos del menu desktop*/
.desktop-menu{
    position: absolute;
    top: 6rem;
    right: 6rem;
    background-color: var(--white);
    width: 13rem;
    height: auto;
    border: 0.1rem solid var(--very-light-pink);
    border-radius: 0.6rem;
    padding: 1.5rem 1.5rem 0 1.5rem;
}

.desktop-menu ul{
    list-style: none;
}

.desktop-menu ul li{
    text-align: end;
}

.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2){
    font-weight: bold;
    font-size: var(--md);
}

.desktop-menu ul li:last-child{
    padding-top: 2rem;
    border-top: 0.1rem solid var(--very-light-pink);
}

.desktop-menu ul li:last-child a{
    color: var(--hospital-gree);
}

.desktop-menu ul li a{
    display: inline-block;
    color: var(--black);
    text-decoration: none;
    margin-bottom: 2rem;
}

/*Estilos del menu mobile*/
.mobile-menu{
    background-color: var(--white);
    position: absolute;
    top: 6rem;
    padding: 2.4rem;
    left: 0;
    width: 100%;
}

.mobile-menu a{
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    font-size: var(--md);
}

.mobile-menu ul{
    list-style: none;
    margin-top: 2.4rem;
}

.mobile-menu .orders{
    border-top: 0.1rem solid var(--very-light-pink);
}

.mobile-menu ul li{
    margin-bottom: 2.4rem;
}

.mobile-menu .email{
    font-weight: 300;
}

.mobile-menu .sign-out{
    color: var(--hospital-gree);
    font-weight: 500;
}

/*Aside (product ditail)*/
.product-detail{
    background-color: var(--white);
    width: 36rem;
    padding: 1rem 2.4rem ;
    position: absolute;
    right: 0;
}

.title-container{
    display: flex;
}

.title-container img{
    transform: rotate(180deg);
    margin-right: 1.4rem;
}

.title{
    font-size: var(--lg);
    font-weight: bold;
}

.my-order-content{
    display: flex;
    flex-direction: column;
}

.order{
    background-color: var(--text-input-field);
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.6rem;
    align-items: center;
    margin-bottom: 2.4rem;
    border-radius: 0.8rem;
    padding: 1rem 2.4rem;
}

.order p:nth-child(1){
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.order p:nth-child(2){
    text-align: end;
    font-weight: bold;
}

.order p span:nth-child(1){
    font-size: var(--md);
}

.shopping-cart{
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    gap: 1.6rem;
    align-items: center;
}

.shopping-cart figure{
    margin: 0.3rem;
}

.shopping-cart figure img{
    width: 7rem;
    height: 7rem;
    border-radius: 2rem;
    object-fit: cover;
}

.shopping-cart p:nth-child(2){
    color: var(--very-light-pink);
}

.shopping-cart p:nth-child(3){
    font-size: var(--md);
    font-weight: bold;
}

.primary-button{
    background-color: var(--hospital-gree);
    border-radius: 0.8rem;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 5rem;
}

/*Section (Product list)*/
.cards-container{
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 24rem);
    gap: 2.6rem;
    place-content: center;
}

.product-card{
    width: 24rem;
}

.product-card img{
    width: 24rem;
    height: 24rem;
    border-radius: 2rem;
    object-fit: cover;
}

.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.2rem;
}

.product-info figure img{
    width: 3.5rem;
    height: 3.5rem;
}

.product-info div p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-bottom: 0.4rem;
}

.product-info div p:nth-child(2){
    color: var(--very-light-pink);
}

/*Aside (Singular product detail)*/
.singular-product-detail{
    background-color: var(--white);
    width: 36rem;
    padding-bottom: 2.4rem;
    position: absolute;
    right: 0;
}

.singular-product-close{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--white);
    position: absolute;
    top: 1.2rem;
    left: 1.2rem;
    padding: 1.2rem;
    border-radius: 50%;
}

.singular-product-close:hover{
    cursor: pointer;
}

.singular-product-detail > img:nth-child(2){
    width: 100%;
    height: 36rem;
    object-fit: cover;
    border-radius: 0 0 2rem 2rem;
}

.singular-product-info{
    margin: 2.4rem 2.4rem 0 2.4rem;
}

.singular-product-info p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-bottom: 0.4rem;
}

.singular-product-info p:nth-child(2){
    color: var(--very-light-pink);
    font-size: var(--md);
    margin-bottom: 3.6rem;
}

.singular-product-info p:nth-child(3){
    color: var(--very-light-pink);
    margin-bottom: 3.6rem;
}

.primary-button{
    background-color: var(--hospital-gree);
    border-radius: 0.8rem;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 5rem;
}

.add-to-cart-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 640px){
    .menu{
        display: block;
    }

    .navbar-left ul{
        display: none;
    }

    .navbar-email{
        display: none;
    }

    .desktop-menu{
        display: none;
    }

    .product-detail{
        width: 100%;
    }

    .cards-container{
        grid-template-columns: repeat(auto-fill, 14rem);
    }

    .product-card{
        width: 14rem;
    }

    .product-card img{
        width: 14rem;
        height: 14rem;
    }

    .singular-product-detail{
        width: 100%;
    }
}

@media (min-width: 641px){
    .mobile-menu{
        display: none;
    }
}