:root{
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-gree: #ACD9B2;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 24rem);
    gap: 2.6rem;
    place-content: center;
}

.product-card{
    width: 24rem;
}

.product-card img{
    width: 24rem;
    height: 24rem;
    border-radius: 2rem;
    object-fit: cover;
}

.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.2rem;
}

.product-info figure img{
    width: 3.5rem;
    height: 3.5rem;
}

.product-info div p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-bottom: 0.4rem;
}

.product-info div p:nth-child(2){
    font-size: var(--sm);
    color: var(--very-light-pink);
}

@media (max-width: 64rem) {
    .cards-container{
        grid-template-columns: repeat(auto-fill, 14rem);
    }

    .product-card{
        width: 14rem;
    }

    .product-card img{
        width: 14rem;
        height: 14rem;
    }
}